<div class="home">
<h1>Smart-TODO</h1>
<p>シンプルなMarkDown対応TODOアプリ</p>
</div>
<div class="new-content">
  <h2>TODOを新規作成する</h2>
</div>
<div class="button-to-new-todo">
<%= link_to  '/todos/new', class: 'btn btn-default' do %>
   <p>
     <i class="fa fa-plus"></i>
   </p>
<% end %>
</div>
